@import 'calculator';
@import 'temperature';
@import 'responsive';

body{
    background: linear-gradient(to top right, #000000 -17%, #ffffff 142%);
    color: orange;
    font-weight: bold;
    height: 100vh

}

.nav{
    width: 10%;
    position:sticky;
    top: 0;
}


.nav-open{
    background-color: rgb(88, 86, 86);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.d-none{
    display: none;
}


.nav li{
    list-style: none;
    border: 1px solid black;
    width: 4rem;
    border-radius: 100%;
    margin-top: 1rem;
    text-align: center;
    padding: 1rem 0.2rem;
    background-color: orange;

    &:hover{
        background-color: #000
    }

    i{
        color: #fff;
    font-size: 2rem;

    }

}



.container{
    text-align: center;

}